body{
    background-color:#f2f2f2;
   margin:0;
   display:flex;
   justify-content: center;
   align-items: center;

}

.container{
    margin-top: 150px;
   padding:70px;
 padding-left: 100px;
 padding-right: 100px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 border-radius: 10px;
    background-color: white;
}
p{
    margin-bottom: 20px;
}
button{
    padding:0  60px 0 50px;
  margin-top: 10px;

}
